/*GENERAL*/

body{
    font-family: 'Raleway', sans-serif;
}

.title{
    font-weight: 700;
}

h1{
    size: 22px;
}

h2{
    size: 18px;
}

h3{
    size: 16px;
}

p, a{
    font-weight: 400;
}

.cards{
    size: 14px;
}

a{
    size: 16px;
}

